<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <title>Home Page</title>
</head>

<body>
  <div class="ui segment">

    <div id="modid" class="ui modal">
      <div class="header"></div>
      <div class="scrolling content">
        <div id="scrollcon"></div>
        <br>
        <div class="ui form">
          <div class="field">
            <label>Add New comment</label>
            <textarea rows="2"></textarea>
          </div>
          <button id="commentbutton" class="ui button">Comment</button>
        </div>
      </div>
    </div>



    {{{body}}}
  </div>
</body>

</html>