Last login: Thu Mar 21 14:09:05 on ttys000
C1PLMCC01:article-scraper lmccray$ node server.js 
App running on port 3000!

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705441083/former-murdoch-executive-says-he-quit-over-foxs-anti-muslim-rhetoric" data-metrics="{&quot;action&quot;:&quot;Click Featured Story Image 1-3&quot;,&quot;category&quot;:&quot;Aggregation&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/joseph-azam_wide-04d2a30b5df6fd03d22f1ea51d50eb44f9987ea0-s800-c15.jpeg" data-original="https://media.npr.org/assets/img/2019/03/21/joseph-azam_wide-04d2a30b5df6fd03d22f1ea51d50eb44f9987ea0-s800.jpeg" class="feat1_23 lazyOnLoad" alt="Former Murdoch Executive Says He Quit Over Fox&apos;s Anti-Muslim Rhetoric">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Joseph Azam says he left his senior post at News Corp. in late 2017 over the coverage of Muslims, immigrants and race by Fox News and other Murdoch news outlets.
                
                <b class="credit" aria-label="Image credit">
                    
                    Sasithon Pooviriyakul
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Sasithon Pooviriyakul
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705441083/former-murdoch-executive-says-he-quit-over-foxs-anti-muslim-rhetoric" data-metrics="{&quot;action&quot;:&quot;Click Featured Story Image 1-3&quot;,&quot;category&quot;:&quot;Aggregation&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/joseph-azam_wide-04d2a30b5df6fd03d22f1ea51d50eb44f9987ea0-s800-c15.jpeg" data-original="https://media.npr.org/assets/img/2019/03/21/joseph-azam_wide-04d2a30b5df6fd03d22f1ea51d50eb44f9987ea0-s800.jpeg" class="feat1_23 lazyOnLoad" alt="Former Murdoch Executive Says He Quit Over Fox&apos;s Anti-Muslim Rhetoric">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Joseph Azam says he left his senior post at News Corp. in late 2017 over the coverage of Muslims, immigrants and race by Fox News and other Murdoch news outlets.
                
                <b class="credit" aria-label="Image credit">
                    
                    Sasithon Pooviriyakul
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Sasithon Pooviriyakul
        
    </span>
</div>

    

      <h4 class="audio-module-title">Former Murdoch Executive Says He Quit Over Fox&apos;s Anti-Muslim Rhetoric</h4>
   <div class="audio-module-controls-wrap">


        <div class="audio-module-controls">
            <b class="audio-module-listen icn-play is-inactive"></b>
            <b class="audio-availability-message">Audio will be available later today.</b>
        </div>
</div>

   


      <h4 class="audio-module-title">Former Murdoch Executive Says He Quit Over Fox&apos;s Anti-Muslim Rhetoric</h4>
   <div class="audio-module-controls-wrap">


        <div class="audio-module-controls">
            <b class="audio-module-listen icn-play is-inactive"></b>
            <b class="audio-availability-message">Audio will be available later today.</b>
        </div>
</div>

   


        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/health-shots/2019/03/21/705545014/new-postpartum-depression-drug-could-be-hard-to-access-for-moms-most-in-need" data-metrics="{&quot;action&quot;:&quot;Click Featured Story Image 2-3&quot;,&quot;category&quot;:&quot;Aggregation&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/postpartum-depression-new-mom_wide-08b88d66ce69c62ba469c90c4a167f0ba8ae728d-s800-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/postpartum-depression-new-mom_wide-08b88d66ce69c62ba469c90c4a167f0ba8ae728d-s800.jpg" class="feat23 lazyOnLoad" alt="New Postpartum Depression Drug Could Be Hard To Access For Moms Most In Need">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                A new treatment promises relief for severe postpartum depression. But will it be accessible to the women who may need it most?
                
                <b class="credit" aria-label="Image credit">
                    
                    AleksandarNakic/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        AleksandarNakic/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/health-shots/2019/03/21/705545014/new-postpartum-depression-drug-could-be-hard-to-access-for-moms-most-in-need" data-metrics="{&quot;action&quot;:&quot;Click Featured Story Image 2-3&quot;,&quot;category&quot;:&quot;Aggregation&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/postpartum-depression-new-mom_wide-08b88d66ce69c62ba469c90c4a167f0ba8ae728d-s800-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/postpartum-depression-new-mom_wide-08b88d66ce69c62ba469c90c4a167f0ba8ae728d-s800.jpg" class="feat23 lazyOnLoad" alt="New Postpartum Depression Drug Could Be Hard To Access For Moms Most In Need">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                A new treatment promises relief for severe postpartum depression. But will it be accessible to the women who may need it most?
                
                <b class="credit" aria-label="Image credit">
                    
                    AleksandarNakic/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        AleksandarNakic/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/699982049/potent-but-unpredictable-how-special-counsels-have-posed-a-special-threat" data-metrics="{&quot;action&quot;:&quot;Click Featured Story Image 3-3&quot;,&quot;category&quot;:&quot;Aggregation&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1137346412_wide-1660ffabaa4c0e3f59e411b3779092104c1ef0fc-s800-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1137346412_wide-1660ffabaa4c0e3f59e411b3779092104c1ef0fc-s800.jpg" class="feat23 lazyOnLoad" alt="Potent But Unpredictable: How Special Counsels Have Posed A Special Threat">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Washington is waiting for special counsel Robert Mueller to complete a report on his investigation into Russian interference in 2016.
                
                <b class="credit" aria-label="Image credit">
                    
                    Tasos Katopodis/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Tasos Katopodis/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/699982049/potent-but-unpredictable-how-special-counsels-have-posed-a-special-threat" data-metrics="{&quot;action&quot;:&quot;Click Featured Story Image 3-3&quot;,&quot;category&quot;:&quot;Aggregation&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1137346412_wide-1660ffabaa4c0e3f59e411b3779092104c1ef0fc-s800-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1137346412_wide-1660ffabaa4c0e3f59e411b3779092104c1ef0fc-s800.jpg" class="feat23 lazyOnLoad" alt="Potent But Unpredictable: How Special Counsels Have Posed A Special Threat">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Washington is waiting for special counsel Robert Mueller to complete a report on his investigation into Russian interference in 2016.
                
                <b class="credit" aria-label="Image credit">
                    
                    Tasos Katopodis/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Tasos Katopodis/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705464149/1-000-venezuelan-armed-forces-have-fled-across-border-says-colombian-government" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/ap_19054705042153_wide-abaa67b1fbfdecfeb375d942f7a552163e397526-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/ap_19054705042153_wide-abaa67b1fbfdecfeb375d942f7a552163e397526-s300.jpg" class="respArchListImg lazyOnLoad" alt="1,000 Venezuelan Armed Forces Have Fled Across Border, Says Colombian Government">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Colombian police escort a Venezuelan soldier into C&#xFA;cuta, Colombia. The soldier surrendered at a bridge crossing the Venezuela-Colombia border, where people tried to carry humanitarian aid into Venezuela on Feb. 23.
                
                <b class="credit" aria-label="Image credit">
                    
                    Fernando Vergara/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Fernando Vergara/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705464149/1-000-venezuelan-armed-forces-have-fled-across-border-says-colombian-government" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/ap_19054705042153_wide-abaa67b1fbfdecfeb375d942f7a552163e397526-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/ap_19054705042153_wide-abaa67b1fbfdecfeb375d942f7a552163e397526-s300.jpg" class="respArchListImg lazyOnLoad" alt="1,000 Venezuelan Armed Forces Have Fled Across Border, Says Colombian Government">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Colombian police escort a Venezuelan soldier into C&#xFA;cuta, Colombia. The soldier surrendered at a bridge crossing the Venezuela-Colombia border, where people tried to carry humanitarian aid into Venezuela on Feb. 23.
                
                <b class="credit" aria-label="Image credit">
                    
                    Fernando Vergara/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Fernando Vergara/AP
        
    </span>
</div>

    

      <h4 class="audio-module-title">1,000 Venezuelan Armed Forces Have Fled Across Border, Says Colombian Government</h4>
   <div class="audio-module-controls-wrap" data-audio="{&quot;uid&quot;:&quot;705464149:705517382&quot;,&quot;available&quot;:true,&quot;duration&quot;:253,&quot;title&quot;:&quot;1,000 Venezuelan Armed Forces Have Fled Across Border, Says Colombian Government&quot;,&quot;audioUrl&quot;:&quot;https:\/\/ondemand.npr.org\/anon.npr-mp3\/npr\/me\/2019\/03\/20190321_me_colombia-venezuelan_soldiers.mp3?orgId=1&amp;topicId=1127&amp;d=253&amp;story=705464149&amp;siteplayer=true&quot;,&quot;storyUrl&quot;:&quot;https:\/\/www.npr.org\/2019\/03\/21\/705464149\/1-000-venezuelan-armed-forces-have-fled-across-border-says-colombian-government&quot;,&quot;slug&quot;:&quot;latin america&quot;,&quot;program&quot;:&quot;&quot;,&quot;affiliation&quot;:&quot;&quot;,&quot;song&quot;:&quot;&quot;,&quot;artist&quot;:&quot;&quot;,&quot;album&quot;:&quot;&quot;,&quot;track&quot;:0,&quot;type&quot;:&quot;segment&quot;,&quot;subtype&quot;:&quot;other&quot;}" data-audio-metrics="[]">
        <div class="audio-module-controls">
            <a class="audio-module-listen" href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_colombia-venezuelan_soldiers.mp3?orgId=1&amp;topicId=1127&amp;d=253&amp;story=705464149&amp;siteplayer=true&amp;dl=1">
                <b class="audio-module-listen-inner">
                    <b class="audio-module-listen-icon icn-play"></b>
                    <b class="audio-module-listen-text">
                        <b class="audio-module-cta">Listen</b>
                        <b class="audio-module-listen-duration">
                            <span>&#xB7; </span>
                            <span>4:13</span>
                        </b>
                    </b>
                </b>
            </a>

                <time class="audio-module-duration" datetime="P4M,13S">4:13</time>
        </div>


</div>

   
    <div class="audio-module-tools">
        <button class="audio-module-tools-toggle" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;open more options&quot;,&quot;label&quot;:null,&quot;noninteraction&quot;:true}">
            <b class="icn-toggle"></b>
            <b class="label">Toggle more options</b>
        </button>
        <ul class="audio-module-more-tools">
                <li class="audio-tool audio-tool-download"><a href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_colombia-venezuelan_soldiers.mp3?orgId=1&amp;topicId=1127&amp;d=253&amp;story=705464149&amp;siteplayer=true&amp;dl=1" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;download audio&quot;,&quot;label&quot;:&quot;705464149&quot;,&quot;noninteraction&quot;:true}"><b class="icn-download"></b><b class="audio-tool-label">Download</b></a>
                </li>

                <li class="audio-tool audio-tool-embed">
                    <button data-embed-url="https://www.npr.org/player/embed/705464149/705517382" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;embed audio&quot;,&quot;label&quot;:&quot;705464149&quot;,&quot;noninteraction&quot;:true}"><b class="button-inner"><b class="icn-embed"></b><b class="audio-tool-label">Embed</b></b></button>

                    <div class="audio-embed-overlay">
                        <button class="btn-close"></button>
                        <label class="embed-label">
                            <b class="audio-embed-overlay__icon"></b>
                            <b class="label">Embed</b>
                            <input class="embed-url embed-url-no-touch" readonly value="&lt;iframe src=&quot;https://www.npr.org/player/embed/705464149/705517382&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;&lt;/iframe&gt;">
                        </label>

                        <b class="embed-url embed-url-touch">
                            <code><b class="punctuation">&lt;</b>iframe src=&quot;https://www.npr.org/player/embed/705464149/705517382&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;</code>
                        </b>

                    </div>
                </li>

        </ul>
    </div>


      <h4 class="audio-module-title">1,000 Venezuelan Armed Forces Have Fled Across Border, Says Colombian Government</h4>
   <div class="audio-module-controls-wrap" data-audio="{&quot;uid&quot;:&quot;705464149:705517382&quot;,&quot;available&quot;:true,&quot;duration&quot;:253,&quot;title&quot;:&quot;1,000 Venezuelan Armed Forces Have Fled Across Border, Says Colombian Government&quot;,&quot;audioUrl&quot;:&quot;https:\/\/ondemand.npr.org\/anon.npr-mp3\/npr\/me\/2019\/03\/20190321_me_colombia-venezuelan_soldiers.mp3?orgId=1&amp;topicId=1127&amp;d=253&amp;story=705464149&amp;siteplayer=true&quot;,&quot;storyUrl&quot;:&quot;https:\/\/www.npr.org\/2019\/03\/21\/705464149\/1-000-venezuelan-armed-forces-have-fled-across-border-says-colombian-government&quot;,&quot;slug&quot;:&quot;latin america&quot;,&quot;program&quot;:&quot;&quot;,&quot;affiliation&quot;:&quot;&quot;,&quot;song&quot;:&quot;&quot;,&quot;artist&quot;:&quot;&quot;,&quot;album&quot;:&quot;&quot;,&quot;track&quot;:0,&quot;type&quot;:&quot;segment&quot;,&quot;subtype&quot;:&quot;other&quot;}" data-audio-metrics="[]">
        <div class="audio-module-controls">
            <a class="audio-module-listen" href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_colombia-venezuelan_soldiers.mp3?orgId=1&amp;topicId=1127&amp;d=253&amp;story=705464149&amp;siteplayer=true&amp;dl=1">
                <b class="audio-module-listen-inner">
                    <b class="audio-module-listen-icon icn-play"></b>
                    <b class="audio-module-listen-text">
                        <b class="audio-module-cta">Listen</b>
                        <b class="audio-module-listen-duration">
                            <span>&#xB7; </span>
                            <span>4:13</span>
                        </b>
                    </b>
                </b>
            </a>

                <time class="audio-module-duration" datetime="P4M,13S">4:13</time>
        </div>


</div>

   
    <div class="audio-module-tools">
        <button class="audio-module-tools-toggle" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;open more options&quot;,&quot;label&quot;:null,&quot;noninteraction&quot;:true}">
            <b class="icn-toggle"></b>
            <b class="label">Toggle more options</b>
        </button>
        <ul class="audio-module-more-tools">
                <li class="audio-tool audio-tool-download"><a href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_colombia-venezuelan_soldiers.mp3?orgId=1&amp;topicId=1127&amp;d=253&amp;story=705464149&amp;siteplayer=true&amp;dl=1" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;download audio&quot;,&quot;label&quot;:&quot;705464149&quot;,&quot;noninteraction&quot;:true}"><b class="icn-download"></b><b class="audio-tool-label">Download</b></a>
                </li>

                <li class="audio-tool audio-tool-embed">
                    <button data-embed-url="https://www.npr.org/player/embed/705464149/705517382" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;embed audio&quot;,&quot;label&quot;:&quot;705464149&quot;,&quot;noninteraction&quot;:true}"><b class="button-inner"><b class="icn-embed"></b><b class="audio-tool-label">Embed</b></b></button>

                    <div class="audio-embed-overlay">
                        <button class="btn-close"></button>
                        <label class="embed-label">
                            <b class="audio-embed-overlay__icon"></b>
                            <b class="label">Embed</b>
                            <input class="embed-url embed-url-no-touch" readonly value="&lt;iframe src=&quot;https://www.npr.org/player/embed/705464149/705517382&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;&lt;/iframe&gt;">
                        </label>

                        <b class="embed-url embed-url-touch">
                            <code><b class="punctuation">&lt;</b>iframe src=&quot;https://www.npr.org/player/embed/705464149/705517382&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;</code>
                        </b>

                    </div>
                </li>

        </ul>
    </div>


        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705437807/petition-to-cancel-brexit-breaks-u-k-government-website-tops-1-million-signature" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842500_wide-fea989dfc33c26f779756946b5f40ea4356b52d1-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842500_wide-fea989dfc33c26f779756946b5f40ea4356b52d1-s300.jpg" class="respArchListImg lazyOnLoad" alt="Petition To Cancel Brexit Breaks U.K. Government Website, Tops 1 Million Signatures">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Demonstrators carry EU flags and shout slogans outside the Houses of Parliament in central London on March 21.
                
                <b class="credit" aria-label="Image credit">
                    
                    Tolga Akmen/AFP/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Tolga Akmen/AFP/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705437807/petition-to-cancel-brexit-breaks-u-k-government-website-tops-1-million-signature" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842500_wide-fea989dfc33c26f779756946b5f40ea4356b52d1-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842500_wide-fea989dfc33c26f779756946b5f40ea4356b52d1-s300.jpg" class="respArchListImg lazyOnLoad" alt="Petition To Cancel Brexit Breaks U.K. Government Website, Tops 1 Million Signatures">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Demonstrators carry EU flags and shout slogans outside the Houses of Parliament in central London on March 21.
                
                <b class="credit" aria-label="Image credit">
                    
                    Tolga Akmen/AFP/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Tolga Akmen/AFP/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705536383/wisconsin-governors-powers-restored-after-restricted-by-lame-duck" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/ap_19023067175799_wide-b3295398dcf74f303beb37c162035d2162861be1-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/ap_19023067175799_wide-b3295398dcf74f303beb37c162035d2162861be1-s300.jpg" class="respArchListImg lazyOnLoad" alt="Judge Restores Wisconsin Governor&apos;s Powers, Strikes Down GOP Laws">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Wisconsin Gov. Tony Evers, a Democrat, delivers the State of the State address on Jan. 22. On Thursday, a Wisconsin county judge restored the governor&apos;s powers that had been restricted by Republicans during a lame-duck session.
                
                <b class="credit" aria-label="Image credit">
                    
                    Andy Manis/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Andy Manis/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705536383/wisconsin-governors-powers-restored-after-restricted-by-lame-duck" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/ap_19023067175799_wide-b3295398dcf74f303beb37c162035d2162861be1-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/ap_19023067175799_wide-b3295398dcf74f303beb37c162035d2162861be1-s300.jpg" class="respArchListImg lazyOnLoad" alt="Judge Restores Wisconsin Governor&apos;s Powers, Strikes Down GOP Laws">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Wisconsin Gov. Tony Evers, a Democrat, delivers the State of the State address on Jan. 22. On Thursday, a Wisconsin county judge restored the governor&apos;s powers that had been restricted by Republicans during a lame-duck session.
                
                <b class="credit" aria-label="Image credit">
                    
                    Andy Manis/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Andy Manis/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/health-shots/2019/03/21/704557684/fentanyl-linked-deaths-the-u-s-opioid-epidemics-third-wave-begins" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/20/gettyimages-1126780909_wide-42a7e67bb2525c0985f19245b60d64512ea9efcb-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/20/gettyimages-1126780909_wide-42a7e67bb2525c0985f19245b60d64512ea9efcb-s300.jpg" class="respArchListImg lazyOnLoad" alt="Fentanyl-Linked Deaths: The U.S. Opioid Epidemic&apos;s Third Wave Begins">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Authorities intercepted a woman using this drug kit in preparation for shooting up a mix of heroin and fentanyl inside a Walmart bathroom last month in Manchester, N.H. Fentanyl offers a particularly potent high but also can shut down breathing in under a minute.
                
                <b class="credit" aria-label="Image credit">
                    
                    Salwan Georges/Washington Post/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Salwan Georges/Washington Post/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/health-shots/2019/03/21/704557684/fentanyl-linked-deaths-the-u-s-opioid-epidemics-third-wave-begins" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/20/gettyimages-1126780909_wide-42a7e67bb2525c0985f19245b60d64512ea9efcb-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/20/gettyimages-1126780909_wide-42a7e67bb2525c0985f19245b60d64512ea9efcb-s300.jpg" class="respArchListImg lazyOnLoad" alt="Fentanyl-Linked Deaths: The U.S. Opioid Epidemic&apos;s Third Wave Begins">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Authorities intercepted a woman using this drug kit in preparation for shooting up a mix of heroin and fentanyl inside a Walmart bathroom last month in Manchester, N.H. Fentanyl offers a particularly potent high but also can shut down breathing in under a minute.
                
                <b class="credit" aria-label="Image credit">
                    
                    Salwan Georges/Washington Post/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Salwan Georges/Washington Post/Getty Images
        
    </span>
</div>

    

      <h4 class="audio-module-title">Fentanyl-Linked Deaths: The U.S. Opioid Epidemic&apos;s Third Wave Begins</h4>
   <div class="audio-module-controls-wrap" data-audio="{&quot;uid&quot;:&quot;704557684:705395210&quot;,&quot;available&quot;:true,&quot;duration&quot;:232,&quot;title&quot;:&quot;Fentanyl-Linked Deaths: The U.S. Opioid Epidemic\u0027s Third Wave Begins&quot;,&quot;audioUrl&quot;:&quot;https:\/\/ondemand.npr.org\/anon.npr-mp3\/npr\/me\/2019\/03\/20190321_me_fentanyl-linked_deaths_the_us_opioid_epidemics_third_wave_begins.mp3?orgId=329&amp;topicId=1128&amp;d=232&amp;p=3&amp;story=704557684&amp;siteplayer=true&quot;,&quot;storyUrl&quot;:&quot;https:\/\/www.npr.org\/sections\/health-shots\/2019\/03\/21\/704557684\/fentanyl-linked-deaths-the-u-s-opioid-epidemics-third-wave-begins&quot;,&quot;slug&quot;:&quot;Health&quot;,&quot;program&quot;:&quot;morning edition&quot;,&quot;affiliation&quot;:&quot;WBUR&quot;,&quot;song&quot;:&quot;&quot;,&quot;artist&quot;:&quot;&quot;,&quot;album&quot;:&quot;&quot;,&quot;track&quot;:0,&quot;type&quot;:&quot;segment&quot;,&quot;subtype&quot;:&quot;other&quot;}" data-audio-metrics="[]">
        <div class="audio-module-controls">
            <a class="audio-module-listen" href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_fentanyl-linked_deaths_the_us_opioid_epidemics_third_wave_begins.mp3?orgId=329&amp;topicId=1128&amp;d=232&amp;p=3&amp;story=704557684&amp;siteplayer=true&amp;dl=1">
                <b class="audio-module-listen-inner">
                    <b class="audio-module-listen-icon icn-play"></b>
                    <b class="audio-module-listen-text">
                        <b class="audio-module-cta">Listen</b>
                        <b class="audio-module-listen-duration">
                            <span>&#xB7; </span>
                            <span>3:52</span>
                        </b>
                    </b>
                </b>
            </a>

                <time class="audio-module-duration" datetime="P3M,52S">3:52</time>
        </div>


</div>

   
    <div class="audio-module-tools">
        <button class="audio-module-tools-toggle" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;open more options&quot;,&quot;label&quot;:null,&quot;noninteraction&quot;:true}">
            <b class="icn-toggle"></b>
            <b class="label">Toggle more options</b>
        </button>
        <ul class="audio-module-more-tools">
                <li class="audio-tool audio-tool-download"><a href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_fentanyl-linked_deaths_the_us_opioid_epidemics_third_wave_begins.mp3?orgId=329&amp;topicId=1128&amp;d=232&amp;p=3&amp;story=704557684&amp;siteplayer=true&amp;dl=1" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;download audio&quot;,&quot;label&quot;:&quot;704557684&quot;,&quot;noninteraction&quot;:true}"><b class="icn-download"></b><b class="audio-tool-label">Download</b></a>
                </li>

                <li class="audio-tool audio-tool-embed">
                    <button data-embed-url="https://www.npr.org/player/embed/704557684/705395210" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;embed audio&quot;,&quot;label&quot;:&quot;704557684&quot;,&quot;noninteraction&quot;:true}"><b class="button-inner"><b class="icn-embed"></b><b class="audio-tool-label">Embed</b></b></button>

                    <div class="audio-embed-overlay">
                        <button class="btn-close"></button>
                        <label class="embed-label">
                            <b class="audio-embed-overlay__icon"></b>
                            <b class="label">Embed</b>
                            <input class="embed-url embed-url-no-touch" readonly value="&lt;iframe src=&quot;https://www.npr.org/player/embed/704557684/705395210&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;&lt;/iframe&gt;">
                        </label>

                        <b class="embed-url embed-url-touch">
                            <code><b class="punctuation">&lt;</b>iframe src=&quot;https://www.npr.org/player/embed/704557684/705395210&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;</code>
                        </b>

                    </div>
                </li>

                <li class="audio-tool audio-tool-transcript">
                  <a href="https://www.npr.org/templates/transcript/transcript.php?storyId=704557684" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;click transcript&quot;,&quot;label&quot;:&quot;704557684&quot;,&quot;noninteraction&quot;:true}">
                    <b class="icn-transcript"></b>
                    <b class="audio-tool-label">Transcript</b>
                  </a>
                </li>
        </ul>
    </div>


      <h4 class="audio-module-title">Fentanyl-Linked Deaths: The U.S. Opioid Epidemic&apos;s Third Wave Begins</h4>
   <div class="audio-module-controls-wrap" data-audio="{&quot;uid&quot;:&quot;704557684:705395210&quot;,&quot;available&quot;:true,&quot;duration&quot;:232,&quot;title&quot;:&quot;Fentanyl-Linked Deaths: The U.S. Opioid Epidemic\u0027s Third Wave Begins&quot;,&quot;audioUrl&quot;:&quot;https:\/\/ondemand.npr.org\/anon.npr-mp3\/npr\/me\/2019\/03\/20190321_me_fentanyl-linked_deaths_the_us_opioid_epidemics_third_wave_begins.mp3?orgId=329&amp;topicId=1128&amp;d=232&amp;p=3&amp;story=704557684&amp;siteplayer=true&quot;,&quot;storyUrl&quot;:&quot;https:\/\/www.npr.org\/sections\/health-shots\/2019\/03\/21\/704557684\/fentanyl-linked-deaths-the-u-s-opioid-epidemics-third-wave-begins&quot;,&quot;slug&quot;:&quot;Health&quot;,&quot;program&quot;:&quot;morning edition&quot;,&quot;affiliation&quot;:&quot;WBUR&quot;,&quot;song&quot;:&quot;&quot;,&quot;artist&quot;:&quot;&quot;,&quot;album&quot;:&quot;&quot;,&quot;track&quot;:0,&quot;type&quot;:&quot;segment&quot;,&quot;subtype&quot;:&quot;other&quot;}" data-audio-metrics="[]">
        <div class="audio-module-controls">
            <a class="audio-module-listen" href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_fentanyl-linked_deaths_the_us_opioid_epidemics_third_wave_begins.mp3?orgId=329&amp;topicId=1128&amp;d=232&amp;p=3&amp;story=704557684&amp;siteplayer=true&amp;dl=1">
                <b class="audio-module-listen-inner">
                    <b class="audio-module-listen-icon icn-play"></b>
                    <b class="audio-module-listen-text">
                        <b class="audio-module-cta">Listen</b>
                        <b class="audio-module-listen-duration">
                            <span>&#xB7; </span>
                            <span>3:52</span>
                        </b>
                    </b>
                </b>
            </a>

                <time class="audio-module-duration" datetime="P3M,52S">3:52</time>
        </div>


</div>

   
    <div class="audio-module-tools">
        <button class="audio-module-tools-toggle" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;open more options&quot;,&quot;label&quot;:null,&quot;noninteraction&quot;:true}">
            <b class="icn-toggle"></b>
            <b class="label">Toggle more options</b>
        </button>
        <ul class="audio-module-more-tools">
                <li class="audio-tool audio-tool-download"><a href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_fentanyl-linked_deaths_the_us_opioid_epidemics_third_wave_begins.mp3?orgId=329&amp;topicId=1128&amp;d=232&amp;p=3&amp;story=704557684&amp;siteplayer=true&amp;dl=1" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;download audio&quot;,&quot;label&quot;:&quot;704557684&quot;,&quot;noninteraction&quot;:true}"><b class="icn-download"></b><b class="audio-tool-label">Download</b></a>
                </li>

                <li class="audio-tool audio-tool-embed">
                    <button data-embed-url="https://www.npr.org/player/embed/704557684/705395210" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;embed audio&quot;,&quot;label&quot;:&quot;704557684&quot;,&quot;noninteraction&quot;:true}"><b class="button-inner"><b class="icn-embed"></b><b class="audio-tool-label">Embed</b></b></button>

                    <div class="audio-embed-overlay">
                        <button class="btn-close"></button>
                        <label class="embed-label">
                            <b class="audio-embed-overlay__icon"></b>
                            <b class="label">Embed</b>
                            <input class="embed-url embed-url-no-touch" readonly value="&lt;iframe src=&quot;https://www.npr.org/player/embed/704557684/705395210&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;&lt;/iframe&gt;">
                        </label>

                        <b class="embed-url embed-url-touch">
                            <code><b class="punctuation">&lt;</b>iframe src=&quot;https://www.npr.org/player/embed/704557684/705395210&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;</code>
                        </b>

                    </div>
                </li>

                <li class="audio-tool audio-tool-transcript">
                  <a href="https://www.npr.org/templates/transcript/transcript.php?storyId=704557684" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;click transcript&quot;,&quot;label&quot;:&quot;704557684&quot;,&quot;noninteraction&quot;:true}">
                    <b class="icn-transcript"></b>
                    <b class="audio-tool-label">Transcript</b>
                  </a>
                </li>
        </ul>
    </div>


        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/goatsandsoda/2019/03/21/702209976/can-inuit-moms-help-me-tame-my-3-year-olds-anger" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/19/img_1620-edit_wide-7a427ef3be0d30b28c3aa4d1b0d6fd797eb42961-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/19/img_1620-edit_wide-7a427ef3be0d30b28c3aa4d1b0d6fd797eb42961-s300.jpg" class="respArchListImg lazyOnLoad" alt="Can Inuit Moms Help Me Tame My 3-Year-Old&apos;s Anger?">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                The author&apos;s daughter, Rosy.
                
                <b class="credit" aria-label="Image credit">
                    
                    Michaeleen Doucleff/NPR
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Michaeleen Doucleff/NPR
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/goatsandsoda/2019/03/21/702209976/can-inuit-moms-help-me-tame-my-3-year-olds-anger" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/19/img_1620-edit_wide-7a427ef3be0d30b28c3aa4d1b0d6fd797eb42961-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/19/img_1620-edit_wide-7a427ef3be0d30b28c3aa4d1b0d6fd797eb42961-s300.jpg" class="respArchListImg lazyOnLoad" alt="Can Inuit Moms Help Me Tame My 3-Year-Old&apos;s Anger?">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                The author&apos;s daughter, Rosy.
                
                <b class="credit" aria-label="Image credit">
                    
                    Michaeleen Doucleff/NPR
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Michaeleen Doucleff/NPR
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/health-shots/2019/03/21/705460986/human-genomics-research-has-a-diversity-problem" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/diversity2_wide-42f865035737f3aa3d22a3dabff7a9475c984e0b-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/diversity2_wide-42f865035737f3aa3d22a3dabff7a9475c984e0b-s300.jpg" class="respArchListImg lazyOnLoad" alt="Human Genomics Research Has A Diversity Problem">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
        </div>


    </div>

    <span class="credit" aria-label="Image credit">
        
        Mint Images/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/health-shots/2019/03/21/705460986/human-genomics-research-has-a-diversity-problem" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/diversity2_wide-42f865035737f3aa3d22a3dabff7a9475c984e0b-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/diversity2_wide-42f865035737f3aa3d22a3dabff7a9475c984e0b-s300.jpg" class="respArchListImg lazyOnLoad" alt="Human Genomics Research Has A Diversity Problem">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
        </div>


    </div>

    <span class="credit" aria-label="Image credit">
        
        Mint Images/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705440414/biggest-fight-is-against-the-clock-as-death-toll-rises-from-cyclone-idai" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/rts2e4kd_wide-2808f324a04e13953816f1a12b3adba7544ffb78-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/rts2e4kd_wide-2808f324a04e13953816f1a12b3adba7544ffb78-s300.jpg" class="respArchListImg lazyOnLoad" alt="&apos;Biggest Fight Is Against The Clock&apos; As Death Toll Rises From Cyclone Idai">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                In the wake of Cyclone Idai, stranded locals take refuge on a strip of land in Buzi district, outside Beira, Mozambique.
                
                <b class="credit" aria-label="Image credit">
                    
                    Siphiwe Sibeko/Reuters
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Siphiwe Sibeko/Reuters
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705440414/biggest-fight-is-against-the-clock-as-death-toll-rises-from-cyclone-idai" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/rts2e4kd_wide-2808f324a04e13953816f1a12b3adba7544ffb78-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/rts2e4kd_wide-2808f324a04e13953816f1a12b3adba7544ffb78-s300.jpg" class="respArchListImg lazyOnLoad" alt="&apos;Biggest Fight Is Against The Clock&apos; As Death Toll Rises From Cyclone Idai">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                In the wake of Cyclone Idai, stranded locals take refuge on a strip of land in Buzi district, outside Beira, Mozambique.
                
                <b class="credit" aria-label="Image credit">
                    
                    Siphiwe Sibeko/Reuters
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Siphiwe Sibeko/Reuters
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705408364/nebraska-faces-over-1-3-billion-in-flood-losses" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/ap_19079767967884_wide-187a3cf896bcc7741c3413a76235e80cf8d572ca-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/ap_19079767967884_wide-187a3cf896bcc7741c3413a76235e80cf8d572ca-s300.jpg" class="respArchListImg lazyOnLoad" alt="Nebraska Faces Over $1.3 Billion In Flood Losses">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                This Wednesday aerial photo shows flooding near the Platte River in in Plattsmouth, Neb., south of Omaha.
                
                <b class="credit" aria-label="Image credit">
                    
                    DroneBase via AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        DroneBase via AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705408364/nebraska-faces-over-1-3-billion-in-flood-losses" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/ap_19079767967884_wide-187a3cf896bcc7741c3413a76235e80cf8d572ca-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/ap_19079767967884_wide-187a3cf896bcc7741c3413a76235e80cf8d572ca-s300.jpg" class="respArchListImg lazyOnLoad" alt="Nebraska Faces Over $1.3 Billion In Flood Losses">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                This Wednesday aerial photo shows flooding near the Platte River in in Plattsmouth, Neb., south of Omaha.
                
                <b class="credit" aria-label="Image credit">
                    
                    DroneBase via AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        DroneBase via AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705420840/guaido-says-venezuelan-agents-detained-his-chief-of-staff-in-pre-dawn-raid" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/venezuela-guaido-deputy_wide-06277652364d22c605ac89cd4103d4b71ad1bafc-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/venezuela-guaido-deputy_wide-06277652364d22c605ac89cd4103d4b71ad1bafc-s300.jpg" class="respArchListImg lazyOnLoad" alt="Guaid&#xF3; Says Venezuelan Agents Detained His Chief Of Staff In Pre-Dawn Raid">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                A damaged door frame is seen at the home of Roberto Marrero in Caracas on Thursday. Opposition leader Juan Guaid&#xF3; says his chief of staff was detained by Venezuelan intelligence agents.
                
                <b class="credit" aria-label="Image credit">
                    
                    Ivan Alvarado/Reuters
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Ivan Alvarado/Reuters
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705420840/guaido-says-venezuelan-agents-detained-his-chief-of-staff-in-pre-dawn-raid" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/venezuela-guaido-deputy_wide-06277652364d22c605ac89cd4103d4b71ad1bafc-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/venezuela-guaido-deputy_wide-06277652364d22c605ac89cd4103d4b71ad1bafc-s300.jpg" class="respArchListImg lazyOnLoad" alt="Guaid&#xF3; Says Venezuelan Agents Detained His Chief Of Staff In Pre-Dawn Raid">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                A damaged door frame is seen at the home of Roberto Marrero in Caracas on Thursday. Opposition leader Juan Guaid&#xF3; says his chief of staff was detained by Venezuelan intelligence agents.
                
                <b class="credit" aria-label="Image credit">
                    
                    Ivan Alvarado/Reuters
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Ivan Alvarado/Reuters
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705440896/acting-defense-secretary-shanahan-investigated-for-boeing-ties" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/shanahan_wide-5f5a475f9e5a4dfb786dbb4aeb93ca87f8a3b854-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/shanahan_wide-5f5a475f9e5a4dfb786dbb4aeb93ca87f8a3b854-s300.jpg" class="respArchListImg lazyOnLoad" alt="Acting Defense Secretary Shanahan Investigated Over Ties To Boeing">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Acting Secretary of Defense Patrick Shanahan listens as President Trump speaks during a signing event for Space Policy Directive 4 in the Oval Office last month.
                
                <b class="credit" aria-label="Image credit">
                    
                    Evan Vucci/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Evan Vucci/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705440896/acting-defense-secretary-shanahan-investigated-for-boeing-ties" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/shanahan_wide-5f5a475f9e5a4dfb786dbb4aeb93ca87f8a3b854-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/shanahan_wide-5f5a475f9e5a4dfb786dbb4aeb93ca87f8a3b854-s300.jpg" class="respArchListImg lazyOnLoad" alt="Acting Defense Secretary Shanahan Investigated Over Ties To Boeing">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Acting Secretary of Defense Patrick Shanahan listens as President Trump speaks during a signing event for Space Policy Directive 4 in the Oval Office last month.
                
                <b class="credit" aria-label="Image credit">
                    
                    Evan Vucci/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Evan Vucci/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705454454/boat-sinks-in-iraq-killing-dozens-during-new-year-celebration" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842654_wide-3a73412ba47260f676eb2dbc6318daa1e6717dda-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842654_wide-3a73412ba47260f676eb2dbc6318daa1e6717dda-s300.jpg" class="respArchListImg lazyOnLoad" alt="Boat Sinks In Iraq, Killing Dozens During New Year Celebration">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Search and rescue operations near the Iraqi city of Mosul were underway after a boat sank in the Tigris River on Thursday. Authorities say dozens of people, including many children, are confirmed dead.
                
                <b class="credit" aria-label="Image credit">
                    
                    Abdullah Rashid/Anadolu Agency/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Abdullah Rashid/Anadolu Agency/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705454454/boat-sinks-in-iraq-killing-dozens-during-new-year-celebration" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842654_wide-3a73412ba47260f676eb2dbc6318daa1e6717dda-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131842654_wide-3a73412ba47260f676eb2dbc6318daa1e6717dda-s300.jpg" class="respArchListImg lazyOnLoad" alt="Boat Sinks In Iraq, Killing Dozens During New Year Celebration">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Search and rescue operations near the Iraqi city of Mosul were underway after a boat sank in the Tigris River on Thursday. Authorities say dozens of people, including many children, are confirmed dead.
                
                <b class="credit" aria-label="Image credit">
                    
                    Abdullah Rashid/Anadolu Agency/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Abdullah Rashid/Anadolu Agency/Getty Images
        
    </span>
</div>

    

        <div class="item-info">
                <div class="slug-wrap">
                        <h3 class="slug"><a href="https://www.npr.org/sections/law/">Law</a></h3>
                </div>

            <h2 class="title"><a href="https://www.npr.org/2019/03/21/705331915/oklahoma-sheriff-and-deputies-resign-over-dangerous-jail" data-metrics="{&quot;action&quot;:&quot;Click Story Title&quot;,&quot;category&quot;:&quot;Story List&quot;}">Oklahoma Sheriff And Deputies Resign Over &apos;Dangerous&apos; Jail</a></h2>
            
            
            <p class="teaser"><a href="https://www.npr.org/2019/03/21/705331915/oklahoma-sheriff-and-deputies-resign-over-dangerous-jail"><time datetime="2019-03-21"><span class="date">March 21, 2019 &#x2022; </span></time>&quot;The condition of the jail is such that it does not comply with constitutional standards,&quot; Nowata County Sheriff Terry Sue Barnett told reporters after tendering her resignation.</a></p>

            

        </div>
        
    

        <div class="item-info">
                <div class="slug-wrap">
                        <h3 class="slug"><a href="https://www.npr.org/sections/law/">Law</a></h3>
                </div>

            <h2 class="title"><a href="https://www.npr.org/2019/03/21/705331915/oklahoma-sheriff-and-deputies-resign-over-dangerous-jail" data-metrics="{&quot;action&quot;:&quot;Click Story Title&quot;,&quot;category&quot;:&quot;Story List&quot;}">Oklahoma Sheriff And Deputies Resign Over &apos;Dangerous&apos; Jail</a></h2>
            
            
            <p class="teaser"><a href="https://www.npr.org/2019/03/21/705331915/oklahoma-sheriff-and-deputies-resign-over-dangerous-jail"><time datetime="2019-03-21"><span class="date">March 21, 2019 &#x2022; </span></time>&quot;The condition of the jail is such that it does not comply with constitutional standards,&quot; Nowata County Sheriff Terry Sue Barnett told reporters after tendering her resignation.</a></p>

            

        </div>
        
    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/693953037/i-can-exist-here-on-gender-identity-some-colleges-are-opening-up" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/19/pronouns-in-college21_wide-99ced9f8b07deedce2a54b22e5252fc3e00db1d8-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/19/pronouns-in-college21_wide-99ced9f8b07deedce2a54b22e5252fc3e00db1d8-s300.jpg" class="respArchListImg lazyOnLoad" alt="&apos;I Can Exist Here&apos;: On Gender Identity, Some Colleges Are Opening Up ">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
        </div>


    </div>

    <span class="credit" aria-label="Image credit">
        
        LA Johnson/NPR
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/693953037/i-can-exist-here-on-gender-identity-some-colleges-are-opening-up" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/19/pronouns-in-college21_wide-99ced9f8b07deedce2a54b22e5252fc3e00db1d8-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/19/pronouns-in-college21_wide-99ced9f8b07deedce2a54b22e5252fc3e00db1d8-s300.jpg" class="respArchListImg lazyOnLoad" alt="&apos;I Can Exist Here&apos;: On Gender Identity, Some Colleges Are Opening Up ">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
        </div>


    </div>

    <span class="credit" aria-label="Image credit">
        
        LA Johnson/NPR
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/thesalt/2019/03/21/701177978/now-there-is-zero-proof-that-alcohol-is-what-makes-a-great-cocktail" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/07/seedlip_wide-ba818848bbe4eb36c24f427ff47c3e24c9989e38-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/07/seedlip_wide-ba818848bbe4eb36c24f427ff47c3e24c9989e38-s300.jpg" class="respArchListImg lazyOnLoad" alt="Now, There Is Zero Proof That Alcohol Is What Makes A Great Cocktail">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Seedlip, a distilled nonalcoholic spirit, was created when Ben Branson came across a 17th-century book that contained nonalcoholic remedies for a variety of maladies &#x2014; from epilepsy to kidney stones.
                
                <b class="credit" aria-label="Image credit">
                    
                    Kevork Djansezian/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Kevork Djansezian/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/sections/thesalt/2019/03/21/701177978/now-there-is-zero-proof-that-alcohol-is-what-makes-a-great-cocktail" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/07/seedlip_wide-ba818848bbe4eb36c24f427ff47c3e24c9989e38-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/07/seedlip_wide-ba818848bbe4eb36c24f427ff47c3e24c9989e38-s300.jpg" class="respArchListImg lazyOnLoad" alt="Now, There Is Zero Proof That Alcohol Is What Makes A Great Cocktail">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Seedlip, a distilled nonalcoholic spirit, was created when Ben Branson came across a 17th-century book that contained nonalcoholic remedies for a variety of maladies &#x2014; from epilepsy to kidney stones.
                
                <b class="credit" aria-label="Image credit">
                    
                    Kevork Djansezian/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Kevork Djansezian/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705382289/harvard-profits-from-photos-of-slaves-lawsuit-claims" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131719188_wide-fb7854f1620fe067655ddc3699dce8423beadd56-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131719188_wide-fb7854f1620fe067655ddc3699dce8423beadd56-s300.jpg" class="respArchListImg lazyOnLoad" alt="Harvard Profits From Photos Of Slaves, Lawsuit Claims">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                A sample image of &quot;Papa&quot; Renty and his daughter Delia, taken in 1850, are displayed during a press conference announcing a lawsuit against Harvard University on Wednesday in New York City.
                
                <b class="credit" aria-label="Image credit">
                    
                    Kevin Hagen/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Kevin Hagen/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705382289/harvard-profits-from-photos-of-slaves-lawsuit-claims" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131719188_wide-fb7854f1620fe067655ddc3699dce8423beadd56-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131719188_wide-fb7854f1620fe067655ddc3699dce8423beadd56-s300.jpg" class="respArchListImg lazyOnLoad" alt="Harvard Profits From Photos Of Slaves, Lawsuit Claims">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                A sample image of &quot;Papa&quot; Renty and his daughter Delia, taken in 1850, are displayed during a press conference announcing a lawsuit against Harvard University on Wednesday in New York City.
                
                <b class="credit" aria-label="Image credit">
                    
                    Kevin Hagen/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Kevin Hagen/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705210155/pay-raises-more-staff-earmarks-lawmakers-propose-ways-to-overhaul-congress" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/20/ap_19022791145538_wide-114347af10ef54606c97abf0bc113e9cacbadad1-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/20/ap_19022791145538_wide-114347af10ef54606c97abf0bc113e9cacbadad1-s300.jpg" class="respArchListImg lazyOnLoad" alt="Pay Raises, More Staff, Earmarks: Lawmakers Propose Ways To Overhaul Congress">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                House Majority Leader Steny Hoyer supports raising member and staff pay, as well as reviving earmarks.
                
                <b class="credit" aria-label="Image credit">
                    
                    Andrew Harnik/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Andrew Harnik/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705210155/pay-raises-more-staff-earmarks-lawmakers-propose-ways-to-overhaul-congress" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/20/ap_19022791145538_wide-114347af10ef54606c97abf0bc113e9cacbadad1-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/20/ap_19022791145538_wide-114347af10ef54606c97abf0bc113e9cacbadad1-s300.jpg" class="respArchListImg lazyOnLoad" alt="Pay Raises, More Staff, Earmarks: Lawmakers Propose Ways To Overhaul Congress">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                House Majority Leader Steny Hoyer supports raising member and staff pay, as well as reviving earmarks.
                
                <b class="credit" aria-label="Image credit">
                    
                    Andrew Harnik/AP
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Andrew Harnik/AP
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/688886161/museum-curator-in-florida-races-against-time-to-preserve-holocaust-items" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/01/25/img_3776_wide-5854448e8d8690c7e809b95a100831437480cdb3-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/01/25/img_3776_wide-5854448e8d8690c7e809b95a100831437480cdb3-s300.jpg" class="respArchListImg lazyOnLoad" alt="&apos;Time Is Running Out&apos;: Museum Curator In Florida Races To Preserve Holocaust Items">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Peter Tarjan of Miami and his cat Jodi. Tarjan&apos;s grandparents and parents died in the Holocaust. The Holocaust Memorial Museum recently hired a full-time curator in South Florida to collect objects from Holocaust survivors to preserve history.
                
                <b class="credit" aria-label="Image credit">
                    
                    Caitie Switalski /WRLN
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Caitie Switalski /WRLN
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/688886161/museum-curator-in-florida-races-against-time-to-preserve-holocaust-items" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/01/25/img_3776_wide-5854448e8d8690c7e809b95a100831437480cdb3-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/01/25/img_3776_wide-5854448e8d8690c7e809b95a100831437480cdb3-s300.jpg" class="respArchListImg lazyOnLoad" alt="&apos;Time Is Running Out&apos;: Museum Curator In Florida Races To Preserve Holocaust Items">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Peter Tarjan of Miami and his cat Jodi. Tarjan&apos;s grandparents and parents died in the Holocaust. The Holocaust Memorial Museum recently hired a full-time curator in South Florida to collect objects from Holocaust survivors to preserve history.
                
                <b class="credit" aria-label="Image credit">
                    
                    Caitie Switalski /WRLN
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Caitie Switalski /WRLN
        
    </span>
</div>

    

      <h4 class="audio-module-title">&apos;Time Is Running Out&apos;: Museum Curator In Florida Races To Preserve Holocaust Items</h4>
   <div class="audio-module-controls-wrap" data-audio="{&quot;uid&quot;:&quot;688886161:705395204&quot;,&quot;available&quot;:true,&quot;duration&quot;:268,&quot;title&quot;:&quot;\u0027Time Is Running Out\u0027: Museum Curator In Florida Races To Preserve Holocaust Items&quot;,&quot;audioUrl&quot;:&quot;https:\/\/ondemand.npr.org\/anon.npr-mp3\/npr\/me\/2019\/03\/20190321_me_a_new_south_florida_acquisitions_curator_for_the_us_holocaust_memorial_museum_.mp3?orgId=481&amp;topicId=1136&amp;d=268&amp;p=3&amp;story=688886161&amp;siteplayer=true&quot;,&quot;storyUrl&quot;:&quot;https:\/\/www.npr.org\/2019\/03\/21\/688886161\/museum-curator-in-florida-races-against-time-to-preserve-holocaust-items&quot;,&quot;slug&quot;:&quot;History&quot;,&quot;program&quot;:&quot;morning edition&quot;,&quot;affiliation&quot;:&quot;WLRN 91.3 FM&quot;,&quot;song&quot;:&quot;&quot;,&quot;artist&quot;:&quot;&quot;,&quot;album&quot;:&quot;&quot;,&quot;track&quot;:0,&quot;type&quot;:&quot;segment&quot;,&quot;subtype&quot;:&quot;other&quot;}" data-audio-metrics="[]">
        <div class="audio-module-controls">
            <a class="audio-module-listen" href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_a_new_south_florida_acquisitions_curator_for_the_us_holocaust_memorial_museum_.mp3?orgId=481&amp;topicId=1136&amp;d=268&amp;p=3&amp;story=688886161&amp;siteplayer=true&amp;dl=1">
                <b class="audio-module-listen-inner">
                    <b class="audio-module-listen-icon icn-play"></b>
                    <b class="audio-module-listen-text">
                        <b class="audio-module-cta">Listen</b>
                        <b class="audio-module-listen-duration">
                            <span>&#xB7; </span>
                            <span>4:28</span>
                        </b>
                    </b>
                </b>
            </a>

                <time class="audio-module-duration" datetime="P4M,28S">4:28</time>
        </div>


</div>

   
    <div class="audio-module-tools">
        <button class="audio-module-tools-toggle" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;open more options&quot;,&quot;label&quot;:null,&quot;noninteraction&quot;:true}">
            <b class="icn-toggle"></b>
            <b class="label">Toggle more options</b>
        </button>
        <ul class="audio-module-more-tools">
                <li class="audio-tool audio-tool-download"><a href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_a_new_south_florida_acquisitions_curator_for_the_us_holocaust_memorial_museum_.mp3?orgId=481&amp;topicId=1136&amp;d=268&amp;p=3&amp;story=688886161&amp;siteplayer=true&amp;dl=1" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;download audio&quot;,&quot;label&quot;:&quot;688886161&quot;,&quot;noninteraction&quot;:true}"><b class="icn-download"></b><b class="audio-tool-label">Download</b></a>
                </li>

                <li class="audio-tool audio-tool-embed">
                    <button data-embed-url="https://www.npr.org/player/embed/688886161/705395204" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;embed audio&quot;,&quot;label&quot;:&quot;688886161&quot;,&quot;noninteraction&quot;:true}"><b class="button-inner"><b class="icn-embed"></b><b class="audio-tool-label">Embed</b></b></button>

                    <div class="audio-embed-overlay">
                        <button class="btn-close"></button>
                        <label class="embed-label">
                            <b class="audio-embed-overlay__icon"></b>
                            <b class="label">Embed</b>
                            <input class="embed-url embed-url-no-touch" readonly value="&lt;iframe src=&quot;https://www.npr.org/player/embed/688886161/705395204&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;&lt;/iframe&gt;">
                        </label>

                        <b class="embed-url embed-url-touch">
                            <code><b class="punctuation">&lt;</b>iframe src=&quot;https://www.npr.org/player/embed/688886161/705395204&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;</code>
                        </b>

                    </div>
                </li>

                <li class="audio-tool audio-tool-transcript">
                  <a href="https://www.npr.org/templates/transcript/transcript.php?storyId=688886161" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;click transcript&quot;,&quot;label&quot;:&quot;688886161&quot;,&quot;noninteraction&quot;:true}">
                    <b class="icn-transcript"></b>
                    <b class="audio-tool-label">Transcript</b>
                  </a>
                </li>
        </ul>
    </div>


      <h4 class="audio-module-title">&apos;Time Is Running Out&apos;: Museum Curator In Florida Races To Preserve Holocaust Items</h4>
   <div class="audio-module-controls-wrap" data-audio="{&quot;uid&quot;:&quot;688886161:705395204&quot;,&quot;available&quot;:true,&quot;duration&quot;:268,&quot;title&quot;:&quot;\u0027Time Is Running Out\u0027: Museum Curator In Florida Races To Preserve Holocaust Items&quot;,&quot;audioUrl&quot;:&quot;https:\/\/ondemand.npr.org\/anon.npr-mp3\/npr\/me\/2019\/03\/20190321_me_a_new_south_florida_acquisitions_curator_for_the_us_holocaust_memorial_museum_.mp3?orgId=481&amp;topicId=1136&amp;d=268&amp;p=3&amp;story=688886161&amp;siteplayer=true&quot;,&quot;storyUrl&quot;:&quot;https:\/\/www.npr.org\/2019\/03\/21\/688886161\/museum-curator-in-florida-races-against-time-to-preserve-holocaust-items&quot;,&quot;slug&quot;:&quot;History&quot;,&quot;program&quot;:&quot;morning edition&quot;,&quot;affiliation&quot;:&quot;WLRN 91.3 FM&quot;,&quot;song&quot;:&quot;&quot;,&quot;artist&quot;:&quot;&quot;,&quot;album&quot;:&quot;&quot;,&quot;track&quot;:0,&quot;type&quot;:&quot;segment&quot;,&quot;subtype&quot;:&quot;other&quot;}" data-audio-metrics="[]">
        <div class="audio-module-controls">
            <a class="audio-module-listen" href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_a_new_south_florida_acquisitions_curator_for_the_us_holocaust_memorial_museum_.mp3?orgId=481&amp;topicId=1136&amp;d=268&amp;p=3&amp;story=688886161&amp;siteplayer=true&amp;dl=1">
                <b class="audio-module-listen-inner">
                    <b class="audio-module-listen-icon icn-play"></b>
                    <b class="audio-module-listen-text">
                        <b class="audio-module-cta">Listen</b>
                        <b class="audio-module-listen-duration">
                            <span>&#xB7; </span>
                            <span>4:28</span>
                        </b>
                    </b>
                </b>
            </a>

                <time class="audio-module-duration" datetime="P4M,28S">4:28</time>
        </div>


</div>

   
    <div class="audio-module-tools">
        <button class="audio-module-tools-toggle" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;open more options&quot;,&quot;label&quot;:null,&quot;noninteraction&quot;:true}">
            <b class="icn-toggle"></b>
            <b class="label">Toggle more options</b>
        </button>
        <ul class="audio-module-more-tools">
                <li class="audio-tool audio-tool-download"><a href="https://ondemand.npr.org/anon.npr-mp3/npr/me/2019/03/20190321_me_a_new_south_florida_acquisitions_curator_for_the_us_holocaust_memorial_museum_.mp3?orgId=481&amp;topicId=1136&amp;d=268&amp;p=3&amp;story=688886161&amp;siteplayer=true&amp;dl=1" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;download audio&quot;,&quot;label&quot;:&quot;688886161&quot;,&quot;noninteraction&quot;:true}"><b class="icn-download"></b><b class="audio-tool-label">Download</b></a>
                </li>

                <li class="audio-tool audio-tool-embed">
                    <button data-embed-url="https://www.npr.org/player/embed/688886161/705395204" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;embed audio&quot;,&quot;label&quot;:&quot;688886161&quot;,&quot;noninteraction&quot;:true}"><b class="button-inner"><b class="icn-embed"></b><b class="audio-tool-label">Embed</b></b></button>

                    <div class="audio-embed-overlay">
                        <button class="btn-close"></button>
                        <label class="embed-label">
                            <b class="audio-embed-overlay__icon"></b>
                            <b class="label">Embed</b>
                            <input class="embed-url embed-url-no-touch" readonly value="&lt;iframe src=&quot;https://www.npr.org/player/embed/688886161/705395204&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;&lt;/iframe&gt;">
                        </label>

                        <b class="embed-url embed-url-touch">
                            <code><b class="punctuation">&lt;</b>iframe src=&quot;https://www.npr.org/player/embed/688886161/705395204&quot; width=&quot;100%&quot; height=&quot;290&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; title=&quot;NPR embedded audio player&quot;&gt;</code>
                        </b>

                    </div>
                </li>

                <li class="audio-tool audio-tool-transcript">
                  <a href="https://www.npr.org/templates/transcript/transcript.php?storyId=688886161" data-metrics="{&quot;category&quot;:&quot;audio actions&quot;,&quot;action&quot;:&quot;click transcript&quot;,&quot;label&quot;:&quot;688886161&quot;,&quot;noninteraction&quot;:true}">
                    <b class="icn-transcript"></b>
                    <b class="audio-tool-label">Transcript</b>
                  </a>
                </li>
        </ul>
    </div>


        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/20/705363744/new-zealand-banning-weapons-like-those-used-in-mosque-attacks-in-christchurch" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/20/gettyimages-1137204122_wide-cb6d7263e20b7cfebb92eeb98371e8964bebb1a7-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/20/gettyimages-1137204122_wide-cb6d7263e20b7cfebb92eeb98371e8964bebb1a7-s300.jpg" class="respArchListImg lazyOnLoad" alt="New Zealand Banning Weapons Like Those Used In Mosque Attacks In Christchurch">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Prime Minister Jacinda Ardern announced Thursday that the New Zealand government will ban military style semi-automatic weapons in response to the mosque attacks last week that killed 50 people.
                
                <b class="credit" aria-label="Image credit">
                    
                    Hagen Hopkins/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Hagen Hopkins/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/20/705363744/new-zealand-banning-weapons-like-those-used-in-mosque-attacks-in-christchurch" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/20/gettyimages-1137204122_wide-cb6d7263e20b7cfebb92eeb98371e8964bebb1a7-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/20/gettyimages-1137204122_wide-cb6d7263e20b7cfebb92eeb98371e8964bebb1a7-s300.jpg" class="respArchListImg lazyOnLoad" alt="New Zealand Banning Weapons Like Those Used In Mosque Attacks In Christchurch">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Prime Minister Jacinda Ardern announced Thursday that the New Zealand government will ban military style semi-automatic weapons in response to the mosque attacks last week that killed 50 people.
                
                <b class="credit" aria-label="Image credit">
                    
                    Hagen Hopkins/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Hagen Hopkins/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705392262/nicaragua-says-it-will-release-hundreds-of-detained-opposition-protesters" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131769936_wide-62a473f65db725caf36218070d5f7226111874e8-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131769936_wide-62a473f65db725caf36218070d5f7226111874e8-s300.jpg" class="respArchListImg lazyOnLoad" alt="Nicaragua Says It Will Release Hundreds Of Detained Opposition Protesters">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Nicaragua&apos;s Apostolic Nuncio Waldemar Sommertag speaks next to the OAS special envoy Luis &#xC1;ngel Rosadilla during a news conference in Managua on Wednesday. They said the government had agreed to release detainees within 90 days.
                
                <b class="credit" aria-label="Image credit">
                    
                    Maynor Valenzuela/AFP/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Maynor Valenzuela/AFP/Getty Images
        
    </span>
</div>

    

        <div class="imagewrap" data-crop-type="wide">
    <a href="https://www.npr.org/2019/03/21/705392262/nicaragua-says-it-will-release-hundreds-of-detained-opposition-protesters" data-metrics="{&quot;action&quot;:&quot;Click Story Image&quot;,&quot;category&quot;:&quot;Story List&quot;}">
        <img src="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131769936_wide-62a473f65db725caf36218070d5f7226111874e8-s300-c15.jpg" data-original="https://media.npr.org/assets/img/2019/03/21/gettyimages-1131769936_wide-62a473f65db725caf36218070d5f7226111874e8-s300.jpg" class="respArchListImg lazyOnLoad" alt="Nicaragua Says It Will Release Hundreds Of Detained Opposition Protesters">
    </a>
</div>
<div class="credit-caption">
    <div class="caption-wrap">
        <div class="caption" aria-label="Image caption">
            <p>
                Nicaragua&apos;s Apostolic Nuncio Waldemar Sommertag speaks next to the OAS special envoy Luis &#xC1;ngel Rosadilla during a news conference in Managua on Wednesday. They said the government had agreed to release detainees within 90 days.
                
                <b class="credit" aria-label="Image credit">
                    
                    Maynor Valenzuela/AFP/Getty Images
                    
                </b>
                <b class="hide-caption"><b>hide caption</b></b>
            </p>
        </div>


            <b class="toggle-caption"><b>toggle caption</b></b>
    </div>

    <span class="credit" aria-label="Image credit">
        
        Maynor Valenzuela/AFP/Getty Images
        
    </span>
</div>

